doctype html
html
	head
		meta(charset='utf-8')
		title RioTz Portfolio
		meta(name='author', content='Kane')
		meta(name='description', content='Portfolio')
		meta(name='viewport', content='width=device-width')
		meta(name='keywords', content='webdev,portfolio,kane')
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.css')


	body
		#sectionBlue
			.container
				.logo.space
					svg#RioTz_2_Build_copy_7(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 813.5 250.8', style='enable-background:new 0 0 813.5 250.8;', xml:space='preserve')
						style(type='text/css').
							.st0{fill:#FFFFFF;}
						g
							g#R
								polygon.st0(points='153.3,135.1 221.5,135.1 221.5,0 0,0 36.2,57.5 167.3,57.5 167.3,77.5 49.2,77.5 158,250.8 226,250.8     ')
							g#I
								polygon.st0(points='241.5,156.1 299,247.7 299,77.5 241.5,77.5  ')
							g#D
								rect.st0(x='241.5', width='57.5', height='57.5')
							g#O
								polygon.st0(points='406.8,215.8 493.6,77.5 320,77.5  ')
							g#T
								polygon.st0(points='319,0 319,57.5 514.5,57.5 514.5,247.8 572.1,156.1 572,57.5 777.4,57.5 813.5,0  ')
							g#Z
								polygon.st0(points='592,77.5 592,135.1 660,135.1 587.4,250.8 726.3,250.8 762,193.2 691.5,193.2 764.1,77.5  ')
				.heroText
					b.line1 FULLSTACK DEVELOPER
					p.line2 BSC DIGITAL MEDIA

				h1.highlight SORRY FOR THE INCONVENIENCE
				P.highlight The website is having a revamp with lots more projects to add

		#sectionPort
			.container  
				h1.highlight Knowledge
				.container 
					.highlight HTML5
					.highlight CSS3
					.highlight Javascript (ES6+)
					.highlight NodeJS
					.highlight ExpressJS
					.highlight ReactJS
					.highlight NodeJS
					.highlight NPM
					.highlight MongoDB
					.highlight Adobe Photoshop
					.highlight Adobe Illustrator
					.highlight Adobe InDesign
					.highlight Adobe Premiere Pro
					.highlight Adobe XD
					.highlight GitHub
					.highlight Stylus/Sass
					.highlight PugJS
					.highlight PhoneGap
					.highlight ElectronJS
					.highlight Postman
					.highlight Functional Programming
					.highlight Object-oriented Programming
			.container
				h1.highlight 2015 Work
				.showcase
					.item
						a(href='https://play.google.com/store/apps/details?id=kane.eggerz')
							img(src='https://image.ibb.co/kbrLkd/adw.png')
					.item
						a(href='https://uni-data-visualization.herokuapp.com/')
							img(src='https://image.ibb.co/gFHGKS/report.png')
					.item
						a(href='https://vidfit-app.herokuapp.com/')
							img(src='https://image.ibb.co/n9DxQS/vidfit_scrrenie.png')
					.item
						a(href='https://purple-festival.herokuapp.com/')
							img(src='https://image.ibb.co/gqaBkS/purple.png')
			
		#sectionBlue
			.container
				.center
					.center2
						h1.white CONTACT
						p.space.white Interested? Send me a messege!
						a(href="mailto:kane@riotz.co.uk").button
							.fa.fa-envelope.blue
						.space
						a(href="https://www.linkedin.com/in/riotz")
							.fa.fa-linkedin
						a(href="https://www.twitter.com/kaneriotz")
							.fa.fa-twitter
						a(href="https://github.com/Rio7z")
							.fa.fa-github
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js')
	script(src='javascripts/main.js')
